.message__to__send {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messages {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;

    .message, .message__content{
        width: 350px;
        background-color: lightgray;
    }

    .message {
        font-weight: 600;
    }

}